<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.4/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.4/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="example.js"></script>
    <script src="helpers.js"></script>
    <script src="../recipes_db/recipe.service.js"></script>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/style.css" >
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/animate.css">

    <style>
      .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FF9230 !important;
      }

      a.linktext, .linktext {
        color: #FF9230 !important;
      }

      .footer {
        width: 100% !important;
      }
    </style>

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  </head>
  <body>
    <!--NAVIGATION-->
    <header>
      <nav>
        <img class="logo" src="../imgs/logo/menuize.png"/>
        <div class="navlinks">
         <a href="#">Why Us</a>
         <a href="#">How it Works</a>
         <a href="#">Pricing</a>
         <a href="#">Login</a>
         <a href="#">Sign Up</a>
       </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
      <div ng-controller="DraggableExternalEventsCtrl as vm">
        <h2 class="text-center">{{ vm.calendarTitle }}</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="well">
                <ul>
                  <li
                    ng-repeat="event in vm.externalEvents track by $index"
                    mwl-draggable="true"
                    drop-data="{event:event}">
                    <a
                      href="javascript:;"
                      ng-class="text-primary"
                      class="linktext">
                      {{ event.title }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">

              <br>
              <div class="row">

                <div class="col-md-6 text-center">
                  <div class="btn-group">

                    <button
                      class="btn btn-primary"
                      mwl-date-modifier
                      date="vm.viewDate"
                      decrement="vm.calendarView">
                      Previous
                    </button>
                    <button
                      class="btn btn-default"
                      mwl-date-modifier
                      date="vm.viewDate"
                      set-to-today>
                      Today
                    </button>
                    <button
                      class="btn btn-primary"
                      mwl-date-modifier
                      date="vm.viewDate"
                      increment="vm.calendarView">
                      Next
                    </button>
                  </div>
                </div>

                <br class="visible-xs visible-sm">

                <div class="col-md-6 text-center">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
                  </div>
                </div>

              </div>
              <br>
              <mwl-calendar
                events="vm.events"
                view-title="vm.calendarTitle"
                view="vm.calendarView"
                view-date="vm.viewDate"
                on-event-click="vm.eventClicked(calendarEvent)"
                cell-is-open="vm.cellIsOpen"
                cell-auto-open-disabled="true"
                custom-template-urls="{calendarMonthCell: 'calendarMonthCell.html', calendarMonthCellEvents: 'calendarMonthCellEvents.html'}"
                cell-modifier="vm.cellModifier(calendarCell)"
                on-event-times-changed="vm.eventDropped(calendarEvent, calendarNewEventStart, calendarNewEventEnd)"
                on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
              </mwl-calendar>
            </div>
          </div>
        </div>

</div>
</main>

<!--FOOTER-->
<footer class="container">
  <p>&copy; 2017 Company, Inc.</p>
  <div class="social-media">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
</footer>

  </body>
</html>
