<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.4/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.4/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="example.js"></script>
    <script src="helpers.js"></script>
    <script src="../recipes_db/recipe.service.js"></script>
    <script src="calendarTitleService.js"></script>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/style.css" >
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../Submit-recipes/styles.css"/>
        <!--Font-->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../Submit-recipes/scripts2.js"></script>

    <style>
      .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FF9230 !important;
      }
      a.linktext, .linktext {
        color: #FF9230 !important;
      }
      .footer {
        width: 100% !important;
      }
    </style>

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <script>
    // Get the modal
    var modal = document.getElementById('AddRecipeModal');

    $(document).ready(function() {
        // When the user clicks the button, open the modal
        $("#AddRecipe").click(function() {
            $("#AddRecipeModal").show();
        });

        // When the user clicks on <span> (x), close the modal
        $("#AddRecipeModal .close").click(function() {
            $("#AddRecipeModal").hide();
        });
    });
    </script>
  </head>
  <body>
    <!--NAVIGATION-->
    <header>
      <nav>
        <img class="logo" src="../imgs/logo/menuize.png"/>
        <div class="navlinks">
         <a href="#">Why Us</a>
         <a href="#">How it Works</a>
         <a href="#">Pricing</a>
         <a href="#">Login</a>
         <a href="#">Sign Up</a>
       </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
      <div ng-controller="DraggableExternalEventsCtrl as vm">
        <h2 class="text-center">{{ vm.calendarTitle }}</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="well">
                <ul>
                  <li
                    ng-repeat="event in vm.externalEvents track by $index"
                    mwl-draggable="true"
                    drop-data="{event:event}">
                    <a
                      href="javascript:;"
                      ng-class="text-primary"
                      class="linktext">
                      {{ event.title }}
                    </a>
                  </li>
                </ul>
                <div class="linktext" style="text-align: center;"><a id="AddRecipe" href="#">Add Recipe</a></div>
              </div>
            </div>
            <div class="col-md-9">

              <br>
              <div class="row">

                <div class="col-md-4 text-center">
                  <div class="btn-group">

                    <button
                      class="btn btn-primary"
                      mwl-date-modifier
                      date="vm.viewDate"
                      decrement="vm.calendarView">
                      Previous
                    </button>
                    <button
                      class="btn btn-default"
                      mwl-date-modifier
                      date="vm.viewDate"
                      set-to-today>
                      Today
                    </button>
                    <button
                      class="btn btn-primary"
                      mwl-date-modifier
                      date="vm.viewDate"
                      increment="vm.calendarView">
                      Next
                    </button>
                  </div>
                </div>

                <br class="visible-xs visible-sm">

                <div class="col-md-4 text-center">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="btn-group">
                     <button class="btn btn-primary">Grocery List</button>
                   </div>
                 </div>

              </div>
              <br>
              <mwl-calendar
                events="vm.events"
                view-title="vm.calendarTitle"
                view="vm.calendarView"
                view-date="vm.viewDate"
                on-event-click="vm.eventClicked(calendarEvent)"
                cell-is-open="vm.cellIsOpen"
                cell-auto-open-disabled="true"
                custom-template-urls="{calendarMonthCell: 'calendarMonthCell.html', calendarMonthCellEvents: 'calendarMonthCellEvents.html'}"
                cell-modifier="vm.cellModifier(calendarCell)"
                on-event-times-changed="vm.eventDropped(calendarEvent, calendarNewEventStart, calendarNewEventEnd)"
                on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
              </mwl-calendar>
            </div>
          </div>
        </div>

</div>

<!-- <div class="container"> -->
    <div id="AddRecipeModal" class="modal">
			<form class="modal-content">
			<div id="contact-form" class="form-container" data-form-container>
            <div class="row">
                <span class="close">&times;</span>
				<div class="form-title">
					<span>Create a Recipe</span>
				</div>
			</div>
			<div class="input-container">
				<div class="row">
					<label id="recipe-name">Share a tasty dish</label>
					<span class="req-input "	 >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="What is the name of your dish?"> </span>
						<input class=padding type="text" data-min-length="8" placeholder="Chicken Tortilla Soup">
					</span>
				</div>
				<div class=bigoldbooty> </div>
				<div class="row">
					<label id="ingredients">Let's build our recipe</label>
					<p class="list-ingredients">Example:</p>
					<p class="list-ingredients">6 oz. Chicken Breast</p>
					<p class="list-ingredients">1 Medium Onion</p>
					<p class="list-ingredients">1 Tsp Cumin</p>
					<span class="req-input">
						<div class="input-group">
							<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please add the ingredients"></span>
							<input type="text" class="form-control ingredients" data-min-length="8" placeholder="Add ingredients" aria-label="ingredients">
							<span class="input-group-btn">
							<button class="btn btn-secondary add" type="button">Add</button>
							</span>
						</div>
					</span>
				</div>
				<div class="bigoldbooty row"> </div>
				<div class="row">
					<label id="directions">Let's get cooking</label>
					<span class="req-input message-box">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please enter steps for preperation"> </span>
						<textarea name="directions" placeholder="How to prepare...Sautee Onions..."></textarea>
					</span>
				</div>
				<div class="bigoldbooty row"> </div>
				<div class="row">
					<label id="serving-size">This dish serves</label>
						<select class="ui dropdown">
							<option value="">1</option>
							<option value="1">2</option>
							<option value="0">3</option>
							<option value="0">4</option>
							<option value="0">5</option>
							<option value="0">6</option>
							<option value="0">7</option>
							<option value="0">8</option>
							<option value="0">9</option>
							<option value="0">10</option>
						</select>
				</div>
				<div class="bigoldbooty row"> </div>
				<div class="row submit-row">
					<button type="button" class="btn btn-lg submit-form">Submit Recipe</button>
				</div>
				<div class="row">
				<div class="import-online text-center">
					<div class=bigoldbooty> </div>
					<label><p>Or simply let us import the recipe for you.</p><p>Enter the url of your favorite online recipe.</p></label>
					<span class="req-input">
						<div>
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter the url of your favorite recipes"> </span>
						<input type="text" data-min-length="8" placeholder="URL"/>
						</div>
						<div class="bigoldbooty"> </div>
						<div>
						<button type="button" class="btn btn-lg submit-form" >Import Recipe</button>
						</div>
						<div class="bigoldbooty"> </div>
					</span>
				</div>
			</div>
			</div>
			</div>
			</form>
		</div>
	</div>
<!-- </div>		 -->


</main>

<!--FOOTER-->
<footer class="container" style="width:100%">
  <p>&copy; 2017 Company, Inc.</p>
  <div class="social-media">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
</footer>

  </body>
</html>
