
      <div class="modal-header">
        <h3 class="modal-title">{{ vm.event.title }}</h3>
      </div>
      <div class="modal-body">
        <p><b>Serving Size:</b> {{ vm.event.servingSize }}<br>
        <b>Number of Servings:</b> {{ vm.event.numberServings }}</p>
        <b>Ingredients</b>
        <ul>
          <li ng-repeat="ingredient in vm.event.ingredients track by $index">
            {{ ingredient.amount }} {{ ingredient.item }} ({{ ingredient.calories }} calories)
          </li>
        </ul>

        <p><b>Instructions:</b><br>
          <ol>
            <li ng-repeat="instruction in vm.event.instructions track by $index">
              {{ instruction }}
            </li>
          </ol>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
      </div>
